[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=Hernerator
X-Krita-Manual=Manual.html
X-Python-2-Compatible=false
Name=Hernerator
Comment=Horseradish's Generator
